<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" [attr.color]="themeColor">

        <ul class="nav__menu">
            <li class="menu-item"><a (click)="showFiller = !showFiller" class="menu-link">
                    <mat-icon>double_arrow</mat-icon>
                    <span *ngIf="showFiller">Expand</span>
                </a></li>
            <li class="menu-item"><a href="" class="menu-link">
                    <mat-icon>home</mat-icon>
                    <span *ngIf="showFiller">Home</span>
                </a></li>
            <li class="menu-item"><a href="" class="menu-link">
                    <mat-icon>dashboard</mat-icon>
                    <span *ngIf="showFiller">Widgets</span>
                </a></li>
            <li class="menu-item"><a href="" class="menu-link">
                    <mat-icon>person</mat-icon>
                    <span *ngIf="showFiller">Profile</span>
                </a></li>
            <li class="menu-item"><a href="" class="menu-link">
                    <mat-icon>folder</mat-icon>
                    <span *ngIf="showFiller">Files</span>
                </a></li>
            <li class="menu-item"><a href="" class="menu-link">
                    <mat-icon>contact_support</mat-icon>
                    <span *ngIf="showFiller">Support</span>
                </a></li>
            <li class="menu-item"><a href="" class="menu-link">
                    <mat-icon>settings-applications</mat-icon>
                    <span *ngIf="showFiller">Settings</span>
                </a></li>
        </ul>



    </mat-drawer>

    <div class="example-sidenav-content">
        <button type="button" mat-button (click)="drawer.toggle()">
            Toggle sidenav
        </button>
        <coatneydev-edit-profile></coatneydev-edit-profile>
    </div>

</mat-drawer-container>