<div class="footer__right-box--item">


    <ng-content select=".footer__links-header"></ng-content>

    <hr>
    <ul class="footer__contact-list">
        <li class="footer__contact-list--item">
            <ng-content select=".anchor-1"></ng-content>
        </li>
        <li class="footer__contact-list--item">
            <ng-content select=".anchor-2"></ng-content>
        </li>
        <li class="footer__contact-list--item">
            <ng-content select=".anchor-3"></ng-content>
        </li>
        <li class="footer__contact-list--item">
            <ng-content select=".anchor-4"></ng-content>
        </li>
        <li class="footer__contact-list--item">
            <ng-content select=".anchor-5"></ng-content>
        </li>
    </ul>
</div>