<div class="footer__container has-text-white">

    <div class="footer__middle-layer" fxHide.xs>
        <div class="footer__left-box">
            <div class="footer__left-box--logo">
                <figure>
                    <img src="assets/footer_logo.jpg" alt="The Footer Logo" width="304" height="228">
                </figure>
            </div>
            <div class="footer__left-box--contact">
                <address class="has-text-white">

                    <ng-template [ngIf]="email && author">Written by <a href="mailto:{{ email }}"
                            class="written-by-link">{{ author }}</a>.<br></ng-template>
                    <ng-template [ngIf]="website">Visit us at:<br>{{ website }}<br /></ng-template>
                    <ng-template [ngIf]="street">{{ street }}<br /></ng-template>

                    <ng-template [ngIf]="city && state" [ngIfElse]="cityORstate">{{ city }}, {{ state }}<br />
                    </ng-template>

                    <ng-template #cityORstate>
                        <ng-template [ngIf]="city">{{ city }}</ng-template>
                        <ng-template [ngIf]="state">{{ state }}<br /></ng-template>
                    </ng-template>


                    <ng-template [ngIf]="country">{{ country }}<br /></ng-template>
                </address>

            </div>
        </div>
        <div class="footer__right-box">

            <div class="footer__right-box--item">

                <h2 class="header">{{ company }}</h2>
                <hr>
                <ul class="footer__contact-list">
                    <li class="footer__contact-list--item">About</li>
                    <li class="footer__contact-list--item">Blog</li>
                    <li class="footer__contact-list--item">Jobs</li>
                    <li class="footer__contact-list--item">Blah</li>
                    <li class="footer__contact-list--item">Contact</li>
                </ul>
            </div>


            <div class="footer__right-box--item">

                <h2 class="header">Employers</h2>
                <hr>
                <ul class="footer__employers-list">
                    <li class="footer__employers-list--item">Sign Up</li>
                    <li class="footer__employers-list--item">Post Jobs</li>
                    <li class="footer__employers-list--item">Connect</li>
                    <li class="footer__employers-list--item">Account</li>
                    <li class="footer__employers-list--item">Employer Center</li>
                </ul>
            </div>
            <div class="footer__right-box--item">

                <h2 class="header">Community</h2>
                <hr>
                <ul class="footer__community-list">
                    <li class="footer__community-list--item">Community Board</li>
                    <li class="footer__community-list--item">Local Resources</li>
                    <li class="footer__community-list--item">Blah</li>
                    <li class="footer__community-list--item">Blah</li>
                    <li class="footer__community-list--item">Blah</li>
                </ul>
            </div>


        </div>
        <span class="copyright">&copy;{{ year }} {{ author }}. All Rights Reserved.</span>

    </div>
    <div class="footer__bottom-layer">
        <ul class="footer__social level-item has-text-centered">
            <li class="footer__social--icon level-item has-text-centered">
                <figure>
                    <img src="assets/social-icons/Twitter.png" alt="Twitter">
                </figure>
            </li>
            <li class="footer__social--icon level-item has-text-centered">
                <figure>
                    <img src="assets/social-icons/Facebook.png" alt="Facebook">
                </figure>
            </li>
            <li class="footer__social--icon level-item has-text-centered">
                <figure>
                    <img src="assets/social-icons/Instagram.png" alt="Instagram">
                </figure>
            </li>
            <li class="footer__social--icon level-item has-text-centered">
                <figure>
                    <img src="assets/social-icons/YouTube.png" alt="YouTube">
                </figure>
            </li>
            <li class="footer__social--icon level-item has-text-centered">
                <figure>
                    <img src="assets/social-icons/LinkedIn.png" alt="LinkedIn">
                </figure>
            </li>
        </ul>
    </div>
</div>