<div class="footer__container has-text-white">

    <div class="footer__middle-layer" fxHide.xs>
        <div class="footer__left-box">
            <!--   <div class="footer__left-box--logo">
                <figure>
                    <img src="assets/footer_logo.jpg" alt="The Footer Logo" width="304" height="228">
                </figure>
            </div> -->
            <div class="footer__left-box--contact">

                <coatneydev-contact></coatneydev-contact>




                <!--address class="has-text-white">

                    <ng-template [ngIf]="email && author">Written by <a href="mailto:{{ email }}"
                            class="written-by-link">{{ author }}</a>.<br></ng-template>
                    <ng-template [ngIf]="website">Visit us at:<br>{{ website }}<br /></ng-template>
                    <ng-template [ngIf]="street">{{ street }}<br /></ng-template>

                    <ng-template [ngIf]="city && state" [ngIfElse]="cityORstate">{{ city }}, {{ state }}<br />
                    </ng-template>

                    <ng-template #cityORstate>
                        <ng-template [ngIf]="city">{{ city }}</ng-template>
                        <ng-template [ngIf]="state">{{ state }}<br /></ng-template>
                    </ng-template>


                    <ng-template [ngIf]="country">{{ country }}<br /></ng-template>
                </address-->

            </div>
        </div>
        <div class="footer__right-box">

            <div class="footer__right-box--logo">

                <h1>Doing Something Cool For Clients.</h1>

            </div>
            <div class="footer__right-box--links">


                <coatneydev-footer-links>
                    <!--h2 class="footer__links-header">{{ company }}</h2-->
                    <h2 class="footer__links-header">Company</h2>
                    <a routerLink="/signup" class="anchor-1">About</a>
                    <a routerLink="/terms" class="anchor-2">Blog</a>
                    <a routerLink="/terms" class="anchor-3">Jobs</a>
                    <a routerLink="/terms" class="anchor-4">Team</a>
                    <a routerLink="/terms" class="anchor-5">Contact</a>
                </coatneydev-footer-links>

                <coatneydev-footer-links>
                    <h2 class="footer__links-header">Follow</h2>
                    <a routerLink="/signup" class="anchor-1">Twitter</a>
                    <a routerLink="/terms" class="anchor-2">Facebook</a>
                    <a routerLink="/terms" class="anchor-3">Google+</a>
                    <a routerLink="/terms" class="anchor-4">Instagram</a>
                    <a routerLink="/terms" class="anchor-5">Pintrest</a>
                </coatneydev-footer-links>



                <coatneydev-footer-links>
                    <h2 class="footer__links-header">Legal</h2>
                    <a routerLink="/signup" class="anchor-1">Sign Up</a>
                    <a routerLink="legal/cookies" class="anchor-2">Cookie Policy</a>
                    <a routerLink="legal/privacy" class="anchor-3">Privacy Policy</a>
                    <a routerLink="legal/terms" class="anchor-4">Terms Of Service</a>
                    <a routerLink="legal/faq" class="anchor-5">FAQ</a>
                </coatneydev-footer-links>

                <coatneydev-footer-links>
                    <h2 class="footer__links-header">Community</h2>
                    <a routerLink="legal/terms" class="anchor-1">Community Board</a>
                    <a routerLink="legal/terms" class="anchor-2">Local Resources</a>
                    <a routerLink="/dashboard" [queryParams]="{ returnUrl: '/dashboard'}" queryParamsHandling="merge"
                        class="anchor-3">DASHBOARD</a>
                    <a routerLink="legal/terms" class="anchor-4">People</a>
                    <a routerLink="/profile/8WCFA4x5iqg2gC5gmYO28gRBppI3" class="anchor-5">ROUTE TEST</a>
                </coatneydev-footer-links>

                <ul>
                    <li><a routerLink="/profile/member/CuJWWusBAEAXDZJWeYgn">random</a></li>
                    <li><a routerLink="/profile/member/XCG2MOP6HS0wnT49qp4G">random</a></li>
                    <li><a routerLink="/profile/member/">EMPTY MEMBER</a></li>
                    <li><a routerLink="/profile">EMPTY PROFILE</a></li>
                    <li><a routerLink="/profile/member/9FebfzOCCWLXn4hFFWfM">Good</a></li>
                </ul>
            </div>



        </div>

    </div>
    <div class="footer__bottom-layer">
        <div class="footer__bottom-layer--item">
            <ul class="footer__social level-item has-text-centered">
                <li class="footer__social--icon level-item has-text-centered">
                    <figure>
                        <img src="assets/social-icons/Twitter.png" alt="Twitter">
                    </figure>
                </li>
                <li class="footer__social--icon level-item has-text-centered">
                    <figure>
                        <img src="assets/social-icons/Facebook.png" alt="Facebook">
                    </figure>
                </li>
                <li class="footer__social--icon level-item has-text-centered">
                    <figure>
                        <img src="assets/social-icons/Instagram.png" alt="Instagram">
                    </figure>
                </li>
                <li class="footer__social--icon level-item has-text-centered">
                    <figure>
                        <img src="assets/social-icons/YouTube.png" alt="YouTube">
                    </figure>
                </li>
                <li class="footer__social--icon level-item has-text-centered">
                    <figure>
                        <img src="assets/social-icons/LinkedIn.png" alt="LinkedIn">
                    </figure>
                </li>

            </ul>
        </div>


        <div class="footer__bottom-layer--item">
            <span class="copyright">&copy;{{ year }} {{ author }}. All Rights Reserved.</span>
        </div>


    </div>
</div>