@charset "utf-8";


:root {
  --color-white: white;
  --gleam-primary: lime;
  --color-primary: #55c57a;
  --color-primary-dark: #28b485;
  -color-primary-light: #7ed56f;
  --color-secondary: #eb2f64;

  --toolbar-icon-color: var(--color-white);

  --sidenav-width: 300px;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100%;
}

::selection {
    background-color: var(--color-primary);
    color:  var(--color-white);
}