<mat-toolbar color="primary">

    <figure fxHide.xs>
        <a class="nav-link" routerLink="/">
            <span class="logo__container">

                <img class="logo" src="assets/logo.png">
            </span>
        </a>
    </figure>
    <div fxFlex fxLayout fxLayoutAlign="flex-end">

        <div class="signup__form">
            <form (ngSubmit)="onSubmitSignup(fm)" #fm="ngForm">
                <div class="search-bar field has-addons">

                    <div class="search-bar__text control">
                        <input type="email" ngModel
                            class="search-bar__text--input input is-rounded is-large is-primary has-text-danger has-icons-left has-icons-right"
                            placeholder="Subscribe for updates!" id="email" name="email" required>

                    </div>
                    <div class="search-bar__button control">

                        <button class="search-bar__button--link button is-rounded is-large is-primary" type="submit"
                            [disabled]="!fm.valid">
                            <span class="search-bar__button--icon-container icon is-small is-right">
                                <fa-icon icon="paper-plane" class="has-text-white is-small is-right" aria-hidden="true">
                                </fa-icon>


                            </span>
                        </button>
                    </div>

                </div>
            </form>
        </div>
        <a href="{{ sponsorshipLink }}" target="_blank" mat-button>BECOME A SPONSOR</a>



    </div>
</mat-toolbar>